@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat bg-white dark:bg-dark text-black dark:text-white overflow-hidden;
}

html,
body,
#root {
  @apply h-full;
}

p {
  @apply text-gray;
}

#overlay {
  @apply w-full flex justify-center;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: theme("colors.primary");
}
