.header {
  @apply bg-gray-dark py-6 px-8 border-b border-gray-stroke flex flex-col items-start justify-between gap-4;

  @media (min-width: theme("screens.sm")) {
    @apply flex-row items-center gap-10;
  }

  > h1 {
    @apply text-3xl font-bold;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  > .actions {
    @apply flex items-center gap-4 flex-shrink-0 justify-between;

    > .board {
      @apply flex items-center gap-4;

      > .other {
        @apply relative;
        .dropdown {
          @apply w-48;
          > button {
            @apply flex items-center gap-2;
            > * {
              @apply flex-shrink-0;
            }
          }
        }
      }
    }
  }
}

.modal {
  > form {
    @apply flex flex-col items-center gap-4;
    > .actions {
      @apply flex gap-4;
      > button {
        @apply py-2 px-10;
      }
    }
  }
}
