.authorize {
  @apply grid h-full overflow-x-hidden grid-cols-1;

  > .actions {
    @apply bg-black;
  }

  > .landing {
    @apply px-6 py-10;
    background: linear-gradient(
      107.56deg,
      #191921 0%,
      #1f1f29 28.08%,
      #191921 28.19%,
      #1f1f29 51.82%,
      #252532 51.88%,
      #252532 74.03%,
      #2c2c3b 74.13%,
      #2c2c3b 100%
    );

    > .heading {
      @apply relative z-20;
      > h1 {
        @apply text-3xl font-semibold;
      }

      > p {
        @apply text-lg mt-2 tracking-wide;
      }
    }

    > img {
      @apply static rotate-0 scale-100 rounded-lg shadow-base mt-10;
    }
  }

  @media (min-width: theme("screens.sm")) {
    grid-template-columns: 1fr;
  }

  @media (min-width: theme("screens.md")) {
    grid-template-columns: 3fr 3fr;

    > .landing {
      @apply px-14 flex flex-col justify-center;
      > .heading > h1 {
        @apply text-5xl;
      }
    }
  }

  @media (min-width: theme("screens.lg")) {
    grid-template-columns: 2fr 3fr;
  }

  @media (min-width: theme("screens.xl")) {
    grid-template-columns: 1fr 2fr;
  }
}
