.select {
  @apply flex flex-col gap-2 w-full;

  &.disabled {
    > div > button {
      @apply text-gray cursor-auto;
      > svg {
        @apply hidden;
      }
    }
  }

  > div {
    @apply relative;
    > button {
      @apply bg-transparent border border-gray-stroke rounded-md py-1.5 px-5 flex items-center w-full justify-between;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      > svg {
        @apply transition-all duration-300;
        &.active {
          @apply rotate-180;
        }
      }
    }

    > ul {
      @apply hidden absolute w-full shadow-2xl rounded-b-md z-50;
      &.shown {
        @apply bg-dark flex flex-col;
      }

      > li > button {
        @apply px-4 py-3 w-full text-left;

        &:hover {
          @apply bg-gray-dark;
        }
      }
    }
  }
}
