.spinner {
  @apply w-20 h-20 border-8 rounded-full;
  border-color: theme('colors.primary') transparent theme('colors.primary') transparent;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

